---
import Layout from "../Layout.astro";
---

<Layout title="Privacy">
  <div
    class="py-16 2xl:py-32 flex flex-col md:flex-row gap-16 md:gap-4 lg:gap-8"
  >
    <figure>
      <img
        src="https://gif.land/fry-see.gif"
        width={333}
        height={250}
        alt="Fry from Futurama squinting in a skeptical way"
      />
      <figcaption class="text-sm flex flex-col">
        <a
          class="underline underline-offset-2 hover:text-emerald-700 dark:hover:text-emerald-500"
          target="_blank"
          href="https://gif.land/fry-see.gif"
        >
          fry-see.gif
        </a>
      </figcaption>
    </figure>
    <div
      class="-mt-px max-w-lg [&_p]:my-4 [&_p]:text-pretty [&_a]:underline [&_a]:underline-offset-2 [&_a]:hover:text-emerald-700 [&_a]:dark:hover:text-emerald-500"
    >
      <h3 class="text-sm text-neutral-500 leading-none">srs bizniz</h3>
      <h2 class="text-2xl">Privacy policy</h2>
      <p>
        I can keep this short, this is not a commercial project, I do not
        compile stats, we don’t log searches and there’s no info stored anywhere
        about who uses this site or the slack app.
      </p>
      <p>
        The source code is all public: <a
          href="https://github.com/jonheslop/2026.gif.land"
          class="underline underline-offset-2 hover:text-emerald-700 dark:hover:text-emerald-500"
          >gif.land the site</a
        > and <a
          href="https://github.com/jonheslop/gif-land-slack"
          class="underline underline-offset-2 hover:text-emerald-700 dark:hover:text-emerald-500"
          >/gifland the Slack app</a
        >.
      </p>
    </div>
  </div>
</Layout>
