---
import Layout from "../Layout.astro";
---

<Layout title="Stickers -">
  <div
    class="py-16 2xl:py-32 flex flex-col md:flex-row gap-16 md:gap-4 lg:gap-8"
  >
    <figure>
      <img
        src="https://imagedelivery.net/tfgleCjJafHVtd2F4ngDnQ/L1000222/medium"
        width={680}
        height={652}
        alt="A load of gif.land stickers spread out on a table, shiny ones, elmo ones and more"
      />
    </figure>
    <div
      class="-mt-px max-w-lg [&_p]:my-4 [&_p]:text-pretty [&_a]:underline [&_a]:underline-offset-2 [&_a]:hover:text-emerald-700 [&_a]:dark:hover:text-emerald-500"
    >
      <h3 class="text-sm text-neutral-500 leading-none">I hereby present</h3>
      <h2 class="text-2xl">gif.land stickers</h2>
      <p>Because stickers are fun and like real life gifs for your laptop.</p>
      <p>
        If you want some send an email to me at{" "}
        <code
          class="font-mono text-sm bg-neutral-100 dark:bg-neutral-700 px-2 py-1 text-emerald-900 dark:text-emerald-300"
        >
          webmaster @ gif.land
        </code>
      </p>
    </div>
  </div>
</Layout>
