<footer
  class="row-start-3 lg:mt-32 mt-16 flex-wrap items-start text-sm relative z-50 mix-blend-plus-lighter hover:mix-blend-normal"
>
  <p class="xl:col-start-4 2xl:col-start-5 col-span-3">
    <a
      class="underline hover:text-emerald-700 dark:hover:text-emerald-500"
      href="https://github.com/jonheslop/2026.gif.land">Thrown together</a
    >{" "}
    by me,{" "}
    <a
      class="underline hover:text-emerald-700 dark:hover:text-emerald-500"
      href="https://jonheslop.com/">Jon Heslop</a
    >. Here’s a{" "}
    <a
      class="underline hover:text-emerald-700 dark:hover:text-emerald-500"
      href="/about">little more about the site</a
    >.
  </p>
</footer>
