<nav
  role="navigation"
  class="flex md:flex-row items-end justify-between gap-3 sticky top-0 bg-white dark:bg-neutral-950 pt-2 sm:px-4 lg:px-8 -mx-2 px-2 sm:-mx-4 lg:-mx-8 z-50 mix-blend-lighten hover:mix-blend-normal"
>
  <h1 class="mr-auto">
    <a
      href="/"
      class="flex flex-col gap-1 hover:text-emerald-700 dark:hover:text-emerald-500 colourwheel"
    >
      ｡◕‿◕｡
      <span class="underline underline-offset-2">gif.land</span>
    </a>
  </h1>

  <ul class="flex gap-4 text-sm md:text-base shrink-0">
    <li>
      <a href="/">a-z</a>
    </li>
    <li>
      <a href="/newest">newest</a>
    </li>
    <li>
      <a href="/oldest">oldest</a>
    </li>
    <!-- <li>
      <a
        class="underline-offset-2 hover:underline hover:text-emerald-700 dark:hover:text-emerald-500"
        href="/random"
      >
        random
      </a>
    </li> -->
    <li>
      <!-- <Search /> -->
    </li>
  </ul>
</nav>
