---
const { title = "gif.land", ogImage = "https://gif.land/opengraph-image.jpg" } =
  Astro.props;
---

<title>{title}</title>
<meta property="og:image" content={ogImage} />
<meta name="description" content="My online memory bank of my favourite gifs" />
