<form action="/search" method="POST">
  <label for="search" class="sr-only">Search</label>
  <input
    id="search"
    name="search"
    type="search"
    placeholder="Search…"
    class="border-b focus:border-neutral-900 ring-0 outline-hidden appearance-none dark:bg-neutral-950 rounded-none w-20 sm:w-auto"
  />
</form>
